.totals {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.totals > * {
  /* font-size: 1.6rem; */
  font-size: 18px;
  margin: 0;
}
.cart-drawer__footer .tax-note.caption-large {
  font-size: 13px;
}
.totals > h2 {
  /* font-size: calc(var(--font-heading-scale) * 1.6rem); */
  font-size: 16px;
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 2rem;
}

.totals__subtotal-value {
  /* font-size: 1.8rem; */
  font-size: 18px;
}

.cart__ctas + .totals {
  margin-top: 2rem;
}

@media all and (min-width: 750px) {
  .totals {
    justify-content: flex-end;
  }
}
