@import url(https://db.onlinewebfonts.com/c/88f10bf18a36407ef36bf30bc25a3618?family=SuisseIntl-Regular);
@font-face {
font-family:"termina-thin";
src:url("https://use.typekit.net/af/c7d058/00000000000000007735b212/30/l?subset_id=2&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/c7d058/00000000000000007735b212/30/d?subset_id=2&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/c7d058/00000000000000007735b212/30/a?subset_id=2&fvd=n1&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:100;font-stretch:normal;
}

@font-face {
font-family:"termina-extra-light";
src:url("https://use.typekit.net/af/8fb82c/00000000000000007735b216/30/l?subset_id=2&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/8fb82c/00000000000000007735b216/30/d?subset_id=2&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/8fb82c/00000000000000007735b216/30/a?subset_id=2&fvd=n2&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:200;font-stretch:normal;
}

@font-face {
font-family:"termina-light";
src:url("https://use.typekit.net/af/3a0b27/00000000000000007735b219/30/l?subset_id=2&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/3a0b27/00000000000000007735b219/30/d?subset_id=2&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/3a0b27/00000000000000007735b219/30/a?subset_id=2&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"termina-regular";
src:url("https://use.typekit.net/af/1d76ab/00000000000000007735b21c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/1d76ab/00000000000000007735b21c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/1d76ab/00000000000000007735b21c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"termina-medium";
src:url("https://use.typekit.net/af/3e72b6/00000000000000007735b21e/30/l?subset_id=2&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/3e72b6/00000000000000007735b21e/30/d?subset_id=2&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/3e72b6/00000000000000007735b21e/30/a?subset_id=2&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"termina-demi";
src:url("https://use.typekit.net/af/275a7d/00000000000000007735b220/30/l?subset_id=2&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/275a7d/00000000000000007735b220/30/d?subset_id=2&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/275a7d/00000000000000007735b220/30/a?subset_id=2&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"termina-bold";
src:url("https://use.typekit.net/af/574117/00000000000000007735b222/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/574117/00000000000000007735b222/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/574117/00000000000000007735b222/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"termina-heavy";
src:url("https://use.typekit.net/af/3046cd/00000000000000007735b224/30/l?subset_id=2&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/3046cd/00000000000000007735b224/30/d?subset_id=2&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/3046cd/00000000000000007735b224/30/a?subset_id=2&fvd=n8&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:800;font-stretch:normal;
}

@font-face {
font-family:"termina-black";
src:url("https://use.typekit.net/af/8a0f0c/00000000000000007735b226/30/l?subset_id=2&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/8a0f0c/00000000000000007735b226/30/d?subset_id=2&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/8a0f0c/00000000000000007735b226/30/a?subset_id=2&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/Inter-Regular.eot');
    src: url('../assets/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/Inter-Regular.woff2') format('woff2'),
        url('../assets/Inter-Regular.woff') format('woff'),
        url('../assets/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntl-Regular';
    src: url('../assets/SuisseIntl-Regular.eot');
    src: url('../assets/SuisseIntl-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/SuisseIntl-Regular.woff2') format('woff2'),
        url('../assets/SuisseIntl-Regular.woff') format('woff'),
        url('../assets/SuisseIntl-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}